// When the left menu is showed or hided,
// how the left menu and main content is displayed

.left_menu_hidden .resize_handle {
  display: none;
}

// Control navigation and content
// Override the inline style rule set up by JavaScript codes
@media screen and (min-width: 750px) {
  html.left_menu_hidden {
    #content {
      margin-left: 0 !important;
    }

    #left_menu {
      left: -75.5rem;
      // background-color: transparent;
    }
  }
}

@media screen and (max-width: 750px) {
  html.left_menu_show {
    #left_menu {
      left: 0;
    }

    .close_icon {
      display: block;
    }

    .menu_icon {
      display: none;
    }
  }
}

// When activing resize handler these will remove left_menu
// and main_content transition properties
.transition_none {
  transition: none !important;
  -webkit-transition: none !important;
}

// 在执行鼠标拖动组件，禁止用户选择功能
body.no_user_selection {
  user-select: none;
}

// resize_beyond
body.resize_beyond_max {
  cursor: w-resize;
}

body.resize_beyond_min {
  cursor: e-resize;
}

.left_menu_items li.current {
  background-color: #f3f3f3;
}
