:root {
  --white:#fefdff;
  --blue: #4343a7;
  --blue-light: #e9f0fa;
  --red: #d22f32;
  --orange: #fdc942;
  --gray: #3f3f40;
  --light-gray: #949293;
  --pink: #f1b0b1;
  --green: #83ac0e;
  --dark: #263238;
}

input, button, textarea, video, img, object {
  box-sizing: border-box;
}

.container {  
  padding: 0 40px;
}

.navbar--fixed {
  position: fixed;
  top: 0;
  width: 100%;
  /* header 元素层叠顺序置于类名为 hero 元素之上 */
  /* 其子代元素在任何情况下也将位于 hero 元素之上 */
  z-index: 2;
}

/* 当垂直滚动条处于浏览器最顶端时，header 元素还不具有 navbar__container--below 类名时 nav__container 元素的样式 */
.navbar--fixed > :not(.nav__container--below) {
  color: var(--white);
}

.navbar--fixed:hover > :not(.nav__container--below) {
  color: var(--dark);
}

/* 伪元素的包含块为类名为 navbar--fixed 的元素 */
.navbar--fixed .nav__container::after {
  content: "";
  position: absolute; 
  left: 0; right: 0; top: 0;
  bottom: 100%;
  transition: .2s ease;
  background-color: var(--white);
  color: var(--dark); 
  /* 在 nav__container 容器中此伪元素置于内容之下 */
  z-index: -1;
}

.navbar--fixed:hover > :not(.nav__container--below)::after,
.navbar--fixed .nav__container--below::after {
  /* 伪元素高度占据整个包含块容器 */
  bottom: 0;
}

.navbar--fixed .nav__container--below {
  box-shadow: 0 1px 50px rgba(180, 179, 255, 0.12);
}

.nav__container {
  transition: .2s ease-in-out;
}

.navbar__nav {
  display: flex;
  flex-wrap: wrap;
  /* Default value of align-items property*/
  align-items: stretch;
}

.nav__brand {
  /* Occupy rest space of the flex container*/
  margin-right: auto;
  /* Remove space between inline-block elements */
  font-size: 0;
}

.nav__brand svg {
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem 0;
  fill: var(--blue);
}


.nav__list {
  display: flex;
  /* Default value of align-items property*/
  align-items: stretch;
  margin-bottom: 0;
  padding: 0;
}

.nav__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* As the positioned ancestor of its pseudo element */
  position: relative;
  /* Occupy the whole vertical space of its parent element*/
  height: 100%;
  padding: 0 2rem;
  color: inherit;
  box-sizing: border-box;
}

.nav__list a::after {
  content: "";
  position: absolute;
  left: 2rem;
  bottom: 1rem;
  right: 100%;
  height: 3px;
  background-color: var(--red);
  transition: .2s ease;
}

.nav__list a:hover::after {
  right: 2rem;
}

.nav__social-group {
  margin-left: 2rem;
}

.nav__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Occupy the whole vertical space of its parent element*/
  height: 100%;
}

.nav__social-link svg {
  width: 24px;
  height: 24px;
  fill: var(--green);
}

.nav__social-link:hover svg {
  fill: var(--orange);
}  

/* hreo image */  
.hero {
  /* As the positioned ancestor of absolutely positioned child elements*/
  position: relative;
  min-height: 90vh;
  background-color: var(--blue-light);
  background-image: linear-gradient(to right, rgba(0,0,0,.8), rgba(0,0,0,.2)), url(../img/hero3x.jpg);
  background-size: cover;
}

.hero--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__content__container {
  color: var(--white);  
}

.hero__content--absolute {
  position: absolute;
  top: 45%;
  left: 0;
  width: 40%;
}

.newsletter__container {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
}

.newsletter__input {
  flex: 1;
  padding: .25rem 1rem;
  border-radius: 2px;
  border: none; 
}

.newsletter__btn {
  flex: 0 1 100px;
  margin-left: 1rem;
  padding: .25rem .5rem;
  border: 1px solid var(--orange);
  background-color: transparent;
  color: var(--orange);
  border-radius: 2px;
}

.newsletter__btn:hover {
  border: none;
  background-color: var(--orange);
  color: var(--dark);
}

.group {
  min-height: 300px;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-detail > * {
  width: 100%;
  text-align: center;
}

.heading {
  display: inline-block;
  background-image: linear-gradient(to right, var(--orange) 0%, var(--red) 100%);
  color: transparent;
  background-clip: text;
}

.detail__container {
  display: flex;
  justify-content: space-between;
}

.detail {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.detail__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--orange);
  border-radius: 50%;
  margin-bottom: 2rem;
} 

.detail__icon svg {
  fill: var(--white);
}

.detail__heading {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.detail__text {
  font-size: 1rem;
  line-height: 2;
  margin: 0;
}

