.navbar {
  background-color: var(--white);
  box-shadow: 0 1px 10px rgba(180, 179, 255, 0.12);
  color: var(--dark);
  transition: 0.2s ease-in-out;

  &__nav {
    &--primary {
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }
}

.navbar__nav--mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  opacity: 0;
  visibility: hidden;

  transition: 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav__container--mobile {
  transform: translateX(300px);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  width: 200px;
  background-color: var(--white);
  transition: 0.2s ease-in-out;
}

// Navbar checkbox
.navbar-checkbox {
  display: none;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 45px;
  right: 20px;
  z-index: 3;

  @media screen and (max-width: 900px) {
    display: block;
  }

  &-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    height: 2px;
    transform: translateX(-50%);
    background-color: var(--dark);

    &::after {
      content: "";
      position: absolute;
      top: 0.5rem;
      width: 100%;
      height: 2px;
      background-color: inherit;
    }

    &::before {
      content: "";
      position: absolute;
      top: -0.5rem;
      width: 100%;
      height: 2px;
      background-color: inherit;
    }
  }
}

.navbar-checkbox:checked ~ .navbar__nav--mobile {
  opacity: 1;
  visibility: visible;
}

.navbar-checkbox:checked ~ .navbar__nav--mobile .nav__container--mobile {
  transform: translateX(0);
}

.icon-sentiment_satisfied:before {
  content: "\e901";
}

// Navbar Destop

.nav {
  &__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__brand {
    // Occupy rest space of the flex container
    margin-right: auto;
    font-size: 2rem;
    color: var(--red);

    @media screen and (max-width: 500px) {
      font-size: 1.5rem;
    }

    &:hover .icon-sentiment_satisfied:before {
      content: "\e902";
    }
  }

  &__list {
    display: flex;
    margin-bottom: 0;
    padding: 0;
  }

  &__link,
  &__link-social {
    @extend %flex-center;
    min-height: 65px;
    //  As the positioned ancestor of its pseudo element
    position: relative;
    padding: 0 2rem;
    color: inherit;
  }

  &__link::after {
    content: "";
    position: absolute;
    left: 2rem;
    bottom: 1rem;
    right: 100%;
    height: 2px;
    background-image: var(--gradient);
    transition: 0.2s ease;
  }

  &__link:hover::after {
    right: 2rem;
  }

  &__link-social {
    svg {
      @include element-size(24px, 24px);
    }

    &:hover svg {
      fill: var(--red);
    }
  }

  &__item--has-dropdown {
    //  As the positioned ancestor of its pseudo element
    position: relative;
  }

  &__btn {
    @extend %flex-center;
    min-height: 65px;
    padding: 0 2rem;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;

    & svg {
      transition: 0.2s ease-in-out;
    }

    &:hover svg {
      transform: rotate(-180deg);
    }
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  min-width: 200px;
  padding: 0.75rem;
  transform: translateY(10px);
  transition: 0.2s ease-in-out;

  background-color: var(--white);
  border-radius: 3px;

  &__list {
    padding: 0;
  }

  &__link {
    display: block;
    padding: 1rem;

    &:hover {
      background-color: var(--blue-light);
    }
  }
}

.nav__item--has-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

// Navbar Mobile
.navbar__nav--mobile {
}

.nav {
  &__list--mobile {
    padding-top: 10px;
  }

  &__item--mobile {
    padding: 0.25rem 0.5rem;
  }

  &__link--mobile {
    &:hover {
      color: var(--red);
    }
  }

  &__btn--mobile {
    background-color: transparent;
    padding-left: 0;
    border: none;
  }
}

.dropdown {
  &__list--mobile {
    padding-left: 0;
  }

  &__item--mobile {
    padding: 0.25rem 0.5rem;
  }

  &__link--mobile {
    &:hover {
      color: var(--red);
    }
  }
}
