*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  line-height: 1.25;
  font-size: 10px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', '-apple-system', 'segoe ui', helvetica neue,
    sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark);
  background-color: #f3f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul,
ol {
  list-style: none;
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: #263238;
}

input,
button,
textarea,
select,
optgroup {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

input:focus,
button:focus {
  outline: none;
}

figure {
  margin: 0;
  padding: 0;
}

img,
video,
object {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: #edece9;
}

::-webkit-scrollbar-thumb {
  background: #d3d1cb;
}

::-webkit-scrollbar-thumb:hover {
  background: #aeaca6;
}
