:root {
  // Color
  --white: #fefdff;
  --blue: #4343a7;
  --blue-light: #e9f0fa;
  --red: #79494a;
  --orange: #fdc942;
  --gray: #3f3f40;
  --light-gray: #faf9fe;
  --pink: #f1b0b1;
  --green: #83ac0e;
  --dark: #333;

  --gradient: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );

  // The padding of content
  --gap: 3.5rem;
  --nav-width: 25rem;

  // box-shadow
  --general-shadow: 0 1px 1px rgba(175, 175, 175, 0.3);
  --dark-shadow: 0 1px 1px rgba(184, 174, 174, 0.5);
}
