.card {
  border: 2px solid var(--dark);
  border-radius: 3px;
  height: 100%;

  &__image {
    padding-bottom: 100%;
    background-color: var(--dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__body {
    border-top: 2px solid var(--dark);
    padding: 2.5rem 1rem 0;
  }

  &__title {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 0;
      right: 100%;
      transition: 0.2s ease-in-out;
      background-image: var(--gradient);
    }
  }

  &__description {
    text-align: justify;
    letter-spacing: 1px;
  }

  &:hover &__title::after {
    right: 0;
  }
}
