// hreo image
.hero {
  @extend %flex-center;
  min-height: 90vh;
  background-color: var(--blue-light);
  color: var(--white);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.2)
    ),
    url(../img/hero3x.jpg);
  background-size: cover;
}
