// Newsletter component
.newsletter__container {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
}

.newsletter__input {
  flex: 1;
  padding: 0.25rem 1rem;
  border-radius: 2px;
  border: none;
}

.newsletter__btn {
  flex: 0 1 100px;
  margin-left: 1rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--orange);
  background-color: transparent;
  color: var(--orange);
  border-radius: 2px;
}

.newsletter__btn:hover {
  border: none;
  background-color: var(--orange);
  color: var(--dark);
}
