.banner {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: var(--general-shadow);

  &_img {
    display: flex;
    justify-content: center;
    margin-bottom: var(--content-gap);
  }

  &_img svg {
    display: block;
    width: 80%;
    @media screen and (max-width: 600px) {
      height: 150px;
    }

    @media screen and (max-width: 380px) {
      height: 100px;
    }
  }
}
