.card {
  display: flex;
  align-items: center;
  min-height: 64px;
  overflow: hidden;

  @media screen and (max-width: 320px) {
    height: 85px;
  }

  &_body {
    width: calc(100% - 1.5rem - 2.4rem);
    margin-left: 1.5rem;
    overflow: hidden;
  }

  &_icon {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
  }

  &_title {
    font-size: 1.4rem;
    font-weight: 700;

    @media screen and (max-width: 320px) {
      font-size: 1.6rem;
    }
  }

  &_text {
    letter-spacing: 1px;
    margin-bottom: 0;
    font-size: 0.9rem;
    line-height: 1.2;
    color: #999;

    @media screen and (max-width: 320px) {
      font-size: 1.2rem;
    }
  }

  &_title,
  &_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
