.card {
  display: flex;
  align-items: center;
  min-height: 64px;

  &_body {
    width: 100%;
    overflow: hidden;
  }

  &_icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &_title {
    font-size: 1.4rem;
    font-weight: 700;
  }

  &_text {
    letter-spacing: 1px;
    margin-bottom: 0;
    font-size: 0.9rem;
    line-height: 1.2;
    color: #999;
  }

  &_title,
  &_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
