.group {
  margin-bottom: 2rem;

  &_items {
    margin-bottom: 0;
  }

  &_title {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-image: var(--gradient);
    }
  }

  &_item_link {
    display: block;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
