// Newsletter component
.newsletter__container {
  display: flex;
  height: 40px;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}
.newsletter__container > * {
  padding: 0.25rem 0.5rem;

  @media screen and (max-width: 500px) {
    padding: 0.5rem 0.75rem;
  }
}

.newsletter__input {
  flex: 9;
  border-radius: 2px;
  border: none;
}

.newsletter__btn {
  flex: 1;
  margin-left: 1rem;
  border: none;
  background-color: var(--orange);
  color: var(--dark);
  border-radius: 2px;

  @media screen and (max-width: 500px) {
    margin-top: 1rem;
    margin-left: 0;
  }
}
