#app {
  overflow: hidden;
}

#content {
  min-height: 100vh;

  // Make sure the mobile have a correct style
  min-width: 320px;
  margin-left: var(--nav-width);
  background-color: #f3f3f3;
  transition: margin-left 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  // 移动端不需要显示左外边距
  @media screen and (max-width: 750px) {
    margin-left: 0 !important;
  }

  &_wrapper {
    margin-top: 46px;
    font-size: 1.4rem;
  }
}
