.left_menu {
  position: fixed;
  left: 0;
  width: var(--nav-width);
  padding-top: 3rem;
  padding-left: 4.2rem;
  height: 100vh;
  background-color: #fff;
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 2rem;
  z-index: 198;
  overflow-x: hidden;
  overflow-y: hidden;

  &:hover {
    overflow-y: auto;
  }

  @media screen and (max-width: 750px) {
    padding-left: 2.2rem;
    left: -42.5rem;
  }

  &_items {
    width: 98%;
  }

  &_item {
    margin-left: -0.5rem;
    transition: background-color 0.2s ease-in-out;
    border-radius: 0.2rem;

    &:hover {
      background-color: #f3f3f3;
    }
  }

  &_item a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
}

.menu_item {
  &_icon {
    width: 14px;
    height: 14px;
    border-radius: 0.2rem;
    margin-right: 1rem;
  }

  &_content {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}
