.left_menu {
  position: fixed;
  left: 0;
  width: var(--nav-width);
  padding-top: 3rem;
  padding-left: 4.2rem;
  height: 100vh;
  background-color: #fff;
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 2rem;
  z-index: 198;
  overflow-x: hidden;
  overflow-y: hidden;

  &:hover {
    overflow-y: auto;
  }

  @media screen and (max-width: 750px) {
    left: -42.5rem;
  }

  &_items {
    width: 98%;
  }

  &_item {
    display: flex;
    align-items: center;
    margin-left: -0.5rem;
    padding: 0.8rem 1rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #f3f3f3;
      border-radius: 0.2rem;
    }
  }
}

.menu_item {
  &_icon {
    width: 12px;
    height: 12px;
    border-radius: 0.2rem;
    margin-right: 1rem;
    // background: #ff842c;
  }

  &_content {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}
