#content_wrapper {
  margin-top: 46px;
  font-size: 1.4rem;
}

// Control navigation and content
.content_wrapper {
  &.hidden {
    #left_menu {
      left: -300px;
      background-color: transparent;
    }

    #content {
      margin-left: 0;
    }
  }
}
