.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
}

.row--column {
  display: flex;
  flex-flow: column wrap;
  margin-left: -1rem;
  max-height: 1080px;
}

.col2 {
  width: 50%;

  @media screen and (max-width: 960px) {
    width: 100%;
  }
}

.col3 {
  width: 33.3%;

  @media screen and (max-width: 960px) {
    width: 50%;
  }

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}

.col4 {
  width: 25%;

  @media screen and (max-width: 960px) {
    width: 50%;
  }
}
